<!-- views/layouts/layouts.hbs -->
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Incluir el partial para el head 
    {{{ head }}}-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/foto.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
</head>

<body class="p-4 md:p-8 lg:p-12 m-4 md:m-8 lg:m-12">
    <!-- Incluir el partial para el header -->
    {{{ header}}}

    <main>
        <!-- Aquí se inyectará el contenido dinámico de la vista -->
        {{{body}}}
    </main>

    <!-- Incluir el partial para el footer 
    {{{ footer}}}-->
    <!-- views/partials/footer.hbs -->
    <footer class='bg-gradient-to-r from-black to-gray-800 text-white py-6 mt-8'>
        <div class='container mx-auto flex justify-center space-x-6'>
            {{#each socialLinks}}
            <a href='{{url}}' target='_blank' class='transform hover:scale-150 transition-transform'>
                <i class='{{icon}} text-2xl hover:{{hoverColor}}'></i>
                <!-- Icono e interacción dinámicos -->
            </a>
            {{/each}}
        </div>
        <div class='text-center mt-4 text-gray-300'>Todos los derechos reservados
            &copy;
            {{currentMonth}}
            {{currentYear}}
        </div>
    </footer>
</body>

</html>